{% extends "main.html.twig" %}

{% block title %}Willkommen{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Ab dem 20. Juli geht es los</h1>
        <p class="lead">
            Diese Seite wird am 20. Juli aktualisiert und informiert dann über die Registrierung für das neue ICC.
        </p>
        <hr class="my-4">
        <p>Bis zum 20. Juli ist das aktuelle ICC abgeschaltet.</p>
    </div>
{% endblock %}