{% extends "main.html.twig" %}

{% block title %}Bestehende Schülerinnen und Schüler{% endblock %}

{% block content %}
    <div class="steps">
        <div class="line"></div>
        <div class="step-header">
            <div class="circle">1</div>
            <div class="label">Kleine Neuerung</div>
        </div>
        <div class="line"></div>
        <div class="step-content">
            <div class="card border-success">
                <div class="card-body d-flex align-items-center mb-0">
                    <i class="fa fa-at mr-2 fa-3x text-success"></i>
                    <i class="fa fa-exclamation mr-2 fa-3x text-success"></i>
                    <p class="mb-0">
                        Du verwendest zum Anmelden fortan deine schulische E-Mail-Adresse (vorname.nachname@s.hgg-broich.de) - wie bei Office 365.
                        Als Passwort verwendest du weiterhin das Passwort aus der Schule.
                    </p>

                    <a href="https://icc.hgg-broich.de/" class="btn btn-primary btn-sm flex-grow-1 flex-shrink-0 ml-2" target="_blank">
                        <i class="fa fa-arrow-right"></i> Los geht's
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}