$enable-shadows: true;
$enable-gradients: true;

// Import SCSS from custom
@import "custom/*.scss";

// Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Import FontAwesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

// Import SchoolIT design
@import '../../vendor/schulit/common-bundle/Resources/assets/css/variables.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/layout.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/additions.scss';

// Import SCSS from overrides
@import "overrides/*.scss";

small, .small {
    font-size: 90% !important;
}

table {
    .column-320 {
        width: 320px;
    }

    td {
        p, ul {
            margin-bottom: 0 !important;
        }
    }
}

form {
    .invalid-feedback {
        font-size: 90% !important;
    }
}

header {
    .navbar {
        .navbar-nav {
            .navbar-text {
                color: $white;
                padding: $navbar-padding-y+$nav-link-padding-y $nav-link-padding-x;
            }
        }
    }
}

.steps {
    display: flex;
    align-content: center;
    justify-content: center;

    flex-direction: column;
    align-items: stretch;
    margin: 0;

    .step-content {
        .card {
            margin-bottom: 0;
        }
    }
}

.step-header {
    display: flex;
    align-items: center;
    justify-content: center;

    .circle {
        display: inline-flex;
        align-content: center;
        justify-content: center;
        width: 2em;
        height: 2em;
        border-radius: 1em;
        background: $primary;
        color: $white;
        line-height: 1em;
        padding: .5em 0;
        margin: .25rem;
        font-size: 1rem;
    }

    .label {
        color: $secondary;
        font-size: 1.5rem;
    }
}

.line {
    flex: 1 0 32px;
    min-width: 1px;
    min-height: 1px;
    margin: auto;
    background-color: rgba(0, 0, 0, .12);
}